/*------------main----------*/
main{
    background-color:#A6BB8D;
    border-radius: 5px;
    padding:80px 0px;
    margin: 0px 50px;
    box-shadow: inset;
    box-shadow: 0px 4px 0px #3C6255 ;

    }
h1{
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 40px;
    font-style: oblique;
    font-weight: lighter;
    letter-spacing: 5px;
    color: bisque;;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;  
    border: 0px;
    padding-top:15px ;
    margin: 0px;
    }
main h3{
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: bisque;;
    text-align: center;
    text-transform: uppercase;
    border: 0px;
    padding-top:10px ;
    padding-bottom: 15px;
    margin: 0px
    }
/*-------------aside------------*/

.contenedor1{
    display: flex;
    margin: 0px 50px 0px 50px;
    
}
.contenedor2{
    margin: 0px 0px 0px 50px;
    border-right: #243b33 solid 1px;
    box-shadow: inset;
    box-shadow: 0px 4px 0px #3C6255 ;
    border-bottom-right-radius: 5px;
   
}
aside{
    background-color: #3C6255;
    border-radius: 5px;
    padding:0px;
    margin: 0px;
    box-shadow: inset;
    box-shadow: 0px 4px 0px  bisque;;
    display: left;
    flex-basis: 60%;
    
}
aside h2{
       font-family: Arial,"Helvetica", sans-serif;
       font-size: 18px;
       font-weight: bold;
       letter-spacing: 1px;
       color: bisque;;
       text-align: left;
       text-transform: uppercase;  
       border-bottom: bisque solid 1px;
       padding-top:0px;
       margin: 100px 0px 0px 30px;
}

aside dl{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}
.contacto dd, dt{ 
        font-family: helvetica;
        color: bisque;
        margin: 0px;
        flex-basis: 40%;
        border-bottom: bisque solid 1px;
        padding: 0px;
    }
.contacto dt{
    
    color: bisque;;
    font-size: 28px;
    font-display: right;
    line-height: 50px;
    text-align: left;
    margin-left: 30px;
    padding: 0px;
    border-bottom: bisque solid 1px;
}    
.contacto dd{
    text-transform: none;
    text-align: right;
    padding-top: 25px;
   
    
    

}
  


figure {
    margin-top: 180px;
}

img{ 
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 220px;
    height: 220px;
    
}
figure figcaption{
    color: bisque;;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

button{
    color: #EAE7B1;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #A6BB8D;
    padding: 5px 50px;
    border: 0px;
    border-radius: 5px;
    appearance:unset;
    color: #EAE7B1;


}

button :hover{
    background-color: #3C6255;
}
/*---------------sobre mi------------*/
h2{
    color: #3C6255;
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 110px;
    border-bottom: #243b33 solid 1px;
}
p{
    background-color: bisque;
    color: #3C6255;
    font-size: 18px;
    font-family: Arial, "Helvetica", sans-serif;
    text-transform:none;
    line-height: 50px;
    border-radius: 5px;
    padding: 50px;
    margin-right: 50px;
    margin-top: 50px;
    

}
h3{
    color: #243b33;
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 60px;
}
h4{
    color: #243b33;
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    margin:0%
}
/*------------barra de navegacion------------*/

.barra_navegacion ul{
    list-style-type: none;
    background-color: #3C6255;
    margin-top: 50px;
    margin-right: 50px;
    padding: 0px;
    overflow: hidden;
       
}
.barra_navegacion li{
    float: left;
    
}
.barra_navegacion li a{
    color: #EAE7B1;
    text-transform: uppercase;
    padding: 15px 91px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: helvetica;

}
.barra_navegacion li a:hover{
    background-color:#EAE7B1;
    color:#3C6255;
}
/*--------estilo de tabla informacion personal---*/
dl{
    display: flex;
    background-color: none;
    flex-wrap: wrap;
    margin-top: 50px;
}
dd, dt{ 
    font-family: helvetica;
    color: #243b33;
    margin: 0px;
    flex-basis: 40%;
    border-bottom: #3C6255 solid 1px;
    padding: 15px;
    

}
dt{
text-transform: capitalize;
margin-left: 80px;

}
dd{
text-transform: uppercase;
font-weight: bolder;
}


    