/*------------main----------*/
main{
    background-color:#A6BB8D;
    border-radius: 5px;
    padding:0px;
    margin: 0px;
    box-shadow: inset;
    box-shadow: 0px 4px 0px #3C6255 ;

    }
h1{
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 36px;
    font-style: oblique;
    font-weight: bold;
    letter-spacing: 5px;
    color:#EAE7B1 ;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;  
    border: 0px;
    padding-top:15px ;
    margin: 0px;
    }
main h3{
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color:#EAE7B1 ;
    text-align: center;
    text-transform: uppercase;
    border: 0px;
    padding-top:10px ;
    padding-bottom: 15px;
    margin: 0px;
    }
/*-------------aside------------*/



aside{
    background-color: #3C6255;
    border-radius: 5px;
    padding:0px;
    margin: 0px;
    box-shadow: inset;
    box-shadow: 0px 4px 0px #3C6255 ;
    display: left;
}
aside h2{
       font-family: Arial,"Helvetica", sans-serif;
       font-size: 18px;
       font-weight: bold;
       letter-spacing: 1px;
       color: #EAE7B1;
       text-align: center;
       text-transform: uppercase;  
       border: 0px;
       padding-top:0px;
       margin: 0px;
}
aside ul{
    list-style-type: none;
    color: #EAE7B1;
    font-size: 16px;
    text-transform: capitalize;  


}
figure img{
    border-radius: 50%;
    
}
figure figcaption{
    color: #EAE7B1;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}

button{
    color: #EAE7B1;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #A6BB8D;
    padding: 5px 50px;
    border: 0px;
    border-radius: 5px;
    appearance:unset;
    color: #EAE7B1;
    
}
button :hover{
    background-color: #3C6255;
}
/*---------------sobre mi------------*/
h2{
    color: #3C6255;
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase
}
p{
    background-color: bisque;
    color: #3C6255;
    font-size: 18px;
    font-family: Arial, "Helvetica", sans-serif;
    text-transform:none;
    line-height: 50px;
    border-radius: 5px;

}
h3{
    color: #243b33;
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 80px;
}
h4, h5{
    color: #243b33;
    font-family: Arial,"Helvetica", sans-serif;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    margin:0%
}
